config SHIELD_URCHIN_LEFT
    def_bool $(shields_list_contains,urchin_left)

config SHIELD_URCHIN_RIGHT
    def_bool $(shields_list_contains,urchin_right)

config SHIELD_URCHIN_DONGLE
    def_bool $(shields_list_contains,urchin_dongle)
